/* 
-----------------------------------------------
                BARRA DE NAVEGACION
------------------------------------------------
*/
.navbar-nav.navbar-center {
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
}
.size {
    height: 50px;

}
.single-line {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.navbar-brand {
    margin-left: 1rem;
}
/* 
-----------------------------------------------
                VIDEOS DE BIENVENIDA
------------------------------------------------
*/
.video-container {
    position: absolute;
    width: 100%;
    min-width: 1200px;
    height: 108vh;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: -57px;
    overflow: hidden;
}

video.fillWidth {
    min-width: 100% !important;
    min-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin: 0 auto;
    display: block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.filter {
    width: 100%;
    height: 100%;
    background: url(static/img/logo.png) center 62% no-repeat #0000006e;
    background-size: 30%;
    position: absolute;
    z-index: 2;
}
